<div class="category">
  <span class="category-content">
    <p >Common Name of the {{category}} : <strong class="text-uppercase">{{name}}</strong></p>
    <p>Wild {{category}} : {{isWild}}</p>
  </span>
  <Image @src={{src}} @alt="{{alt}} {{name}}"></Image>
</div>