<div class="category">
  <span class="category-content">
    <p class="row">
      <label class="col-6">Name of the {{category}}</label>  <label><strong class="text-uppercase col-6">{{name}}</strong></label>
    </p>
  </span>
  <Image @src={{src}} @alt="{{alt}} {{name}}"></Image>
</div>