<h6>{{title}}</h6>
{{#each model as |category|}}
  <p><LinkTo @params={{array category.route}}>{{category.name}}</LinkTo></p>
{{/each}}
{{outlet}}
<p><LinkTo @params={{array "dupfinder"}}>dupfinder</LinkTo></p>